# Jekyll build directory
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependency files
.bundle/
vendor/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
